<html ng-app="registrationModule">
<head>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-cyborg.min.css" rel="stylesheet" />

    <script src="~/ng_scripts/registration-module.js"></script>
    @RenderSection("JavascriptInHead", required:false)
    <title>Welcome {{1 + 1}} Angular!</title>
</head>
<body>
    @RenderBody()
</body>
</html>